@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Views</title>
</head>
<body>
    <div>

        <a asp-controller="Home" asp-action="Index">Home Page</a>
        <a asp-controller="About" asp-action="Index">About</a>
        <a asp-controller="Contact" asp-action="Index">Contact</a>

    </div>
        @RenderBody()
    <div>Footer</div>
</body>
</html>
